---
import { Media } from 'accessible-astro-components'

/**
 * ContentMedia Component
 *
 * @description A component that displays content alongside media, with the option to reverse the image position
 */
interface Props {
  /**
   * The source URL for the image
   */
  imgSrc: string
  /**
   * Whether to display the image on the right side instead of the left
   * @default false
   */
  class?: string
  reverseImg?: boolean
}

const { imgSrc, reverseImg = false, class: className }: Props = Astro.props
---

<section class={`my-64 ${className}`}>
  <div class='container'>
    <div class='grid grid-cols-1 gap-24 md:grid-cols-2'>
      {
        !reverseImg ? (
          <Media
            class='img-wrapper rounded-lg transition-all'
            src={imgSrc}
          />
        ) : (
          ''
        )
      }
      <div class='space-content flex flex-col justify-center'>
        <slot />
      </div>
      {
        reverseImg ? (
          <Media
            class='img-wrapper rounded-lg transition-all'
            src={imgSrc}
          />
        ) : (
          ''
        )
      }
    </div>
  </div>
</section>
