---
import { Link } from 'accessible-astro-components'
import { Icon } from 'astro-icon/components'
import { Image } from 'astro:assets'

/**
 * Hero Component
 *
 * @description A component that displays a hero section with a title, description, and image
 */
interface Props {
  /**
   * The source URL for the image
   */
  src?: string
}

const { src = '/astronaut-hero-img.webp' }: Props = Astro.props
---

<section class='hero my-24'>
  <div class='container'>
    <div class='grid grid-cols-1 items-center gap-16 lg:grid-cols-2'>
      <div class='flex flex-col items-center gap-8 md:items-start'>
        <h1 class='text-center text-6xl md:text-left lg:text-8xl'>
          <slot>
            Your problem, our
            <span class='text-gradient-wrapper relative inline-block'>
              <span class='text-gradient text-animate-smooth opacity-100 transition-opacity duration-600'>smooth✔</span>
              <span
                class='text-gradient text-animate-software absolute top-0 left-0 z-10 opacity-0 transition-opacity duration-600'
                >software</span
              >
            </span>solution
          </slot>
        </h1>
        <div class='flex flex-col gap-3 min-[500px]:flex-row'>
          <Link
            href='https://github.com/incluud/accessible-astro-starter'
            isButton
            type='primary'
            animateOnHover6566
            animationType='boop'
          >
            <Icon
              aria-hidden='true'
              name='lucide:star'
              size='1.5rem'
            />
            Contáctanos
          </Link>
          <Link
            href='https://accessible-astro.incluud.dev/'
            isButton
            type='secondary'
            animateOnHover
            animationType='boop'
          >
            <Icon
              aria-hidden='true'
              name='lucide:bookmark'
              size='1.5rem'
            />
            Read the docs
          </Link>
        </div>
      </div>
      <Image
        class='hidden lg:block'
        src={src}
        alt=''
        decoding='async'
        width={800}
        height={600}
        loading='eager'
      />
    </div>
  </div>
</section>

<style lang='scss'>
  h1 {
    text-wrap: unset;
  }

  .text-gradient {
    background: linear-gradient(
      315deg,
      light-dark(var(--color-primary-300), var(--color-secondary-100)) 25%,
      light-dark(var(--color-secondary-300), var(--color-primary-200))
    );
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
</style>

<script>
  // Load script after page loads
  document.addEventListener('DOMContentLoaded', () => {
    // Detect when user start scrolling
    window.addEventListener('scroll', () => {
      // change text "smooth" to "software" if scroll is greater than 50px
      const textSmooth = document.querySelector('.text-animate-smooth')
      const textSoftware = document.querySelector('.text-animate-software')
      if (textSmooth && textSoftware) {
        if (window.scrollY < 50) {
          textSmooth.classList.remove('opacity-0')
          textSmooth.classList.add('opacity-100')
          textSoftware.classList.remove('opacity-100')
          textSoftware.classList.add('opacity-0')
        } else {
          textSmooth.classList.add('opacity-0')
          textSmooth.classList.remove('opacity-100')
          textSoftware.classList.add('opacity-100')
          textSoftware.classList.remove('opacity-0')
        }
      }
    })
  })
</script>
