---
import { Link } from 'accessible-astro-components'

/**
 * Logo Component
 *
 * @description Logo description
 */
interface Props {
  /**
   * Whether to load the image eagerly or lazily
   * @default 'eager'
   */
  loading?: 'eager' | 'lazy'
}

const { loading = 'eager' }: Props = Astro.props
---

<Link
  href='/'
  class='mt-6 flex flex-col items-center gap-2'
>
  <img
    src='/logo-smooth-software-solutions-desarrollo-web-3s.webp'
    alt='Accessible Astro Logo'
    width='100'
    height='71'
    loading={loading}
  />
  <span class='text-center text-xs font-bold'>Smooth Software<br />Solutions</span>
</Link>
